html, body, .wrapper{
    margin: 0;
  }
  body {
     background: radial-gradient(#b00b69,#420dab);
  }
  .wrapper{
    max-width: 700px;
    margin:auto;
    display:flex;
    justify-content: center;
    flex-direction: column;
    background: white;
    color: black;
    border-color:grey;
    border-width:0px 50px;
    box-shadow: 0 4px 8px 0;
    border-style: solid;
    align-items:center;
  }
  .wrapper > *, header > *{
    margin:5px;
    flex: 1 100%;
    align-self:center;
  }
  header, section,form{
    display:flex;
  }
  header, section{
    justify-content: center;
    flex-direction: column;
  }
  h1,h2{
    text-align: center;
  }
  h1{
    font-family:Merienda;
  }
  h2{
    font-family:Impact;
  }
  .pic{
    border-radius: 50%;
  }
  p{
    margin:0px;
  }
  
  form{
    flex-wrap: wrap;
  }
  p.game{
    font-size: 2em;
  }
  label{
    flex:1 80%;
    margin-left:-10px;  
  }
  [type="radio"]{
    flex:1 10%;
  }
  .button{
    order:2;
    flex:1;
    margin:5px 30%;  
  }
  .button:active ~ #maybeTText{
    text-decoration: line-through;
  }
  .button:active ~ #maybeT:checked{
    width:25px;
    height:25px;
  }