.projects{
    color: var(--clr-projT);
    background: var(--clr-projB);
    flex-direction:column;
    display: flex;
    justify-content: center;
}

.projects form {
    align-self: center;
    background-color: var(--clr-gameB);
    color: var(--clr-gameT);
    display: grid;
    grid-template-columns:20% 80%;
    grid-row: auto 2em 2em 2em auto;
    grid-template-areas: 
        "header header"
        "radio1 label1"
        "radio2 label2"
        "radio3 label3"
        "submit submit";
    width: 80%;
    justify-items: stretch;
}
.projects p.game {
    font-size: 2em;
}
.projects form p{
    grid-area: header;
}
.projects form label:nth-of-type(3) {
    grid-area: label3;
}
.projects [type="radio"]:nth-of-type(1) {
    grid-area: radio3;
}
.projects [type="radio"]:nth-of-type(2) {
    grid-area: radio2;
}
.projects [type="radio"]:nth-of-type(3) {
    grid-area: radio1;
}
.projects form label:nth-of-type(1) {
    grid-area: label1;
}
.projects form label:nth-of-type(2) {
    grid-area: label2;
}

.projects .button {
   grid-area: submit;
}
.projects .button:active ~ #maybeTText {
    text-decoration: line-through;
}
.projects .button:active ~ #maybeT:checked {
    width: 25px;
    height: 25px;
}
