:root{
    --probablyNotCream:#d3d2bb;
    --greatMustard:#eabb4d;
    --sexyBlue:#2A0952;
    --gostBlue:#432C82;
    --darkBlueBrown:#302d44;
    --darkGreenBrown:#4c4f34;
    --darkPlainBrown:#7c5c26;
    --someGrey:#857b5d;
    --pickyPink:#D875CF;
    --lightImg:url("https://images.unsplash.com/photo-1552154357-aaba12e68e64?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxOTM0Njd8MHwxfHNlYXJjaHwyNHx8c3VjY3VsZW50fGVufDB8MHx8fDE2MjQwOTg3MzM&ixlib=rb-1.2.1&q=80&w=1080") 0 100%/cover;
    --darkHome:var(--darkBlueBrown);
}

/***DARK MODE Snipped START***/

#changecolors:checked + div  i.fa-moon{
    visibility: hidden;
}
#changecolors:not(:checked) + div  i.fa-sun{
    visibility: hidden;
}

.container{
    --clr-home:var(--lightImg);
    --bodyBack:white;
    --homeText:var(--gostBlue);
    --h1Text:var(--sexyBlue);
    --clr-navBack:var(--greatMustard);
    --clr-navT:var(--gostBlue);

}

input#changecolors:checked ~ .container{
    --clr-logo:var(--greatMustard);
    --clr-home:var(--darkHome);
    --bodyBack:var(--darkBlueBrown);
    --homeText:var(--greatMustard);
    --h1Text:var(--greatMustard);
    --clr-navBack:var(--gostBlue);
    --clr-navT:var(--greatMustard);
}

.fa-moon,.fa-sun{
    position: absolute;
    top:3%;
    right:3%;
    border-radius: 50%;
    padding: 0.5em;
    color:var(--homeText);
    border:5px solid var(--homeText);
    z-index: 3;
}

/***DARK MODE Snipped END***/


* {
    box-sizing: border-box;
}
body, ul{
    margin: 0;
}
input[type="checkbox"]{
    display:none;
}
a{
    color: inherit;
    text-decoration: none;
}
.home{
    background: var(--clr-home) ;   
    width: 100vw;
    color: var(--h1Text);
}
header{
    color: var(--homeText);
    position: relative;
    margin-left: 5%;
}
header>*{
    display: inline-block;
}

h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 12vw;
    width: 70%;
    z-index: 1;
}

.logo{
    background: var(--clr-logo);
    border-radius: 50%;
    padding: 1.3vw;
}
.logo img{
    width: 20vw;
    z-index: 1;
}


nav#primari-nav ul{
    display: flex;
    list-style-type: none;
    margin-right: 1vw;
}
nav#primari-nav li{
    margin: 0.5em;
    
    font-weight: 900;
    text-transform: uppercase;
    font-size: medium;
    border-radius: 5%;    
}
footer nav{
    position: absolute;
    top:5vh;
    right:15vw;
    color: var(--homeText);
}
footer nav > *{
    margin: 1vw;
}
@media (min-width:250px){
    .home{
        height: auto;
    }
    nav#primari-nav{
        background: var(--gostBlue);
        color:var(--pickyPink);
    }
}
@media (min-width:600px){
    .home{
        height: 100vh;
        background-attachment: fixed;
    }
    nav#primari-nav{
        color:var(--clr-navT);
        text-shadow:2px 2px 4px var(--clr-navBack);
        background:none;
        position: fixed;
        top: 20vh;
        right: 0;
        width: 40vw;
        height: 100%;
    }
    nav#primari-nav ul{
        flex-flow: column wrap;
        align-items: flex-end;
    }
    nav#primari-nav li{
        word-wrap:break-word;
        max-width:100%;
        display:block;
        text-align: right;
    }
}